[submodule "openhands/models/external_models/Equivariant_SLR"]
	path = openhands/models/external_models/Equivariant_SLR
	url = https://github.com/OlineRanum/Equivariant_SLR.git
[submodule "openhands/models/external_models/egnn"]
	path = openhands/models/external_models/egnn
	url = https://github.com/OlineRanum/egnn.git
